.list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    background-color: transparent;
}

.listItem {
    padding: 0.5em;
    margin: 0.5em;

    border-radius: 0.5em;
    font-size: 1.1rem;
    transition: all 0.5s ease;
    border: 3px solid transparent;
}
.listItem--selected {
    border: 3px solid orange;
}

.theme-dark .listItem {
    background-color: cadetblue;
    color: #fff;
}

.theme-light .listItem {
    background-color: rgb(194, 193, 193);
    color: #000;
}
